{% extends 'base.html' %}


{% block body %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
        
        {% for category, message in messages %}
          
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Success!</strong> {{ message | safe }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
        
      {% endif %}
      {% endwith %}
    <div class = "container mx-6">
      <center><h1 class = "fs-2 text py-3"> </h1></center>
      


      <div class="card text-bg-secondary mb-5" style="max-width: 80rem;">
        <div class="card-header">Tech Variable Image Editor</div>
        <div class="card-body">
          <form action = "/edit" method = "post" enctype = "multipart/form-data">
            <div class="mb-3">
              <label for="formFile" class="form-label">Choose an image to edit</label>
              <input class="form-control" type="file" name="file" id="formFile">
            </div>
            
            
            <div class="form-floating">
              <select name="operation" onchange="myFunction(this)" class="form-select" id="floatingSelect" aria-label="Floating label select example">
                <option selected>Choose an operation</option>
                <option value="1">Convert to Grayscale</option>
                <option value="2" id="edgeSlider" >Edge Detection</option>
                <option value="3" id="blurSlider">Blurr</option>
                <option value="4">Background Removal</option>
                <option value="5">Hue Lightness Saturation</option>
                <option value="6">RGB to LAB</option>
                
                
              </select>
              <label for="floatingSelect">Works with selects</label>
              <div id="SliderOption" class="edgeOptions hidden">
                <label for="points">Points (between 0 and 200):</label>
<input type="range" id="points" name="rangeValue" onchange="updateValue()" name="points" min="0" max="200">
              </div>
            </div>
            <button type="Submit" class="btn btn-success my-3">Submit</button>
            
            
          </form>
          <p class="card-text"></p>
        </div>
      </div>
      
    </div>
    <script>
      const edgeSlider = document.getElementById("edgeSlider")
const blurSlider = document.getElementById("blurSlider")
const sliderBar = document.getElementById("SliderOption")


function myFunction(selectElement) {
  var selectedValue = selectElement.value;
  if (selectedValue === "2") {
    sliderBar.classList.remove("hidden")
  } else if (selectedValue === "3") {
    sliderBar.classList.remove("hidden")
  } 
  else{
    sliderBar.classList.add("hidden")
  }
}

const updateValue = () => {
  
var rangeInput = document.getElementById("points");

let value = rangeInput.value

}
    </script>
    <!-- <script src="./script.js"></script> -->
  </body>
</html>
{% block title %}{% endblock title %} 
{% endblock body %}